<div class="add-container">
  <button (click)="onAddClicked()" class="add-button">Add New Product</button>
  <div class="list-and-details-container">
    <app-products-list class="products-list" [products]="products$ | async" [selectedProduct]="selectedProduct"
      (productSelected)="onProductSelected($event)">
    </app-products-list>
    <app-product-details *ngIf="selectedProduct" [product]="selectedProduct" (productUpdated)="onProductUpdated($event)"
      class="product-details"></app-product-details>
  </div>
</div>
