.add-container {
  display: flex;
  flex-direction: column;
  justify-items: flex-start;
  .add-button{
    width: 150px;
  }
  .list-and-details-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;
    .product-details {
      width: 65%;
      padding: 5px;
    }
  }
}
