<form [formGroup]="detailsFormGroup" (ngSubmit)="saveProduct()">
  <fieldset>
    <legend>{{ product.name }} Details:</legend>
    <div class="field-container">
      <label for="inputName" class="field-label">
        Name:
      </label>
      <input
        class="wide-input"
        id="inputName"
        type="text"
        formControlName="formControlName"
      />
    </div>

    <div class="field-container">
      <label for="textareaDesc" class="field-label">
        Description:
      </label>
      <textarea
        class="wide-input"
        id="textareaDesc"
        type="number"
        formControlName="formControlDesc"
      ></textarea>
    </div>
    <div class="field-container">
      <label for="inputPrice" class="field-label">
        Price:
      </label>
      <input id="inputPrice" type="number" formControlName="formControlPrice" />
    </div>
    <button type="submit" [disabled]="detailsFormGroup.invalid">Save</button>
  </fieldset>
</form>
