.field-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 10px;
    .field-label {
        margin-bottom: 10px;
    }
    .wide-input {
        width: 100%;
    }
}